body {
    margin: 0px;
}

img {
    border-radius: 5%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

a:hover {
    color: #405d27;
    cursor: pointer;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 275px;
    background-color: #82b74b;
}

.header-top {
    display: flex;
    gap: 30px;
    margin-bottom: 35px;
}

.header-bot {
    display: flex;
    gap: 50px;
}

.greeder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 300px;
    gap: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 175px;
}

.title {
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
}

.quote {
    display: flex;
    margin-bottom: 200px;
    justify-content: center;
}

.hire {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}