body {
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.header-top {
    display: flex;
    gap: 30px;
    margin-bottom: 35px;
}

.header-bot {
    display: flex;
    gap: 50px;
}

.greeder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 300px;
    gap: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 175px;
}

.title {
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
}

.quote {
    padding: 0px 450px;
    margin-bottom: 200px;
    flex-wrap: nowrap;
}

.hire {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}